<div class="container-fluid my-4">
  <h1>About</h1>
  <div class="text-dark">
    <p>Nost is a user-friendly note-taking app designed to simplify your note-taking experience. .</p>
    <p>With our intuitive interface, you can quickly jot down thoughts and ideas.</p>
    <p>Best of all, Nost is completely free to use. Start organizing your thoughts effortlessly today!</p>
  </div>
  <div class="d-flex align-items-center text-dark">
    <p>Contact: <a href="mailto:nguyentranthevu@gmail.com" class="text-primary"></a> nguyentranthevu@gmail.com </p>
    <p></p>
  </div>

</div>